<div class="temp-container">
  <div class="card">
    <div class="card-top">
        <!-- Router components will go here -->
        <ul>
            <li><a href="#" class="button">Jomodoro</a></li>
            <li><a href="#" class="button">Short Break</a></li>
            <li><a href="#" class="button">Long Break</a></li>
        </ul>
    </div>
    <div class="card-body">
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex maxime error facere deserunt obcaecati. Quidem, a
        porro id harum tenetur ab, facilis illo eaque voluptas qui cumque facere tempore eos!</p>
    </div>
    <div class="card-footer">
        <a href="#" class="button button-big">START</a>
    </div>
  </div>
</div>
