<nav class="navbar">
    <div class="logo">Jomodoro</div>
    <ul class="nav-links">
        <input type="checkbox" id="checkbox-toggle">
        <label for="checkbox-toggle" class="hamburger">
            <div class="hamburger-btn">
                <div class="burger-line"></div>
            </div>
        </label>
        <div class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/">About</a></li>
            <li class="contains-dropdown">
                <a>Services</a>
                <ul class="dropdown">
                    <li><a href="/">Dropdown 1</a></li>
                    <li><a href="/">Dropdown 2</a></li>
                    <li><a href="/">Dropdown 3</a></li>
                    <li><a href="/">Dropdown 4</a></li>
                    <li><a href="/">Dropdown 5</a></li>
                </ul>
            </li>
            <li><a href="/">Pricing</a></li>
            <li><a href="/">Contact</a></li>
        </div>
    </ul>
</nav>
