<nav class="navbar">
    <div class="logo">Jomodoro</div>
    <ul class="nav-links">
        <input type="checkbox" id="checkbox-toggle">
        <label for="checkbox-toggle" class="hamburger">
            <div class="hamburger-btn">
                <div class="burger-line"></div>
            </div>
        </label>
        <div class="menu">
            <li><a href="/" class="button">Report</a></li>
            <li><a href="/" class="button">Login</a></li>
            <li class="contains-dropdown">
                <a class="button">History</a>
                <ul class="dropdown">
                    <li><a href="/">Daily</a></li>
                    <li><a href="/">Weekly</a></li>
                    <li><a href="/">Monthly</a></li>
                    <li><a href="/">Yearly</a></li>
                    <li><a href="/">All Time</a></li>
                </ul>
            </li>
            <li><a href="/" class="button">Export</a></li>
            <li><a href="/" class="button">Settings</a></li>
        </div>
    </ul>
</nav>
