@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

:root {
    --main-bg-color: #31364a;
    --main-fg-color: #5a6389;
    --main-links-color: #fff;
    --dropdown-bg-color: #5C468F;
    --dropdown-hover-color: #7e4bb7;
    --hamburger-color: #fff;
}
